console.log("Using pusher function");
// Enable pusher logging - don't include this in production
Pusher.logToConsole = true;

var pusher = new Pusher('6bb9cb79fe54759e77c2', {
  cluster: 'ap1',
  encrypted: true
});

// JW-channel이라는 채널을 구독하다가 요청이 발생하면 alert창을 띄워라(데이터 메시지를 띄워라)
var channel = pusher.subscribe('JW-channel');
channel.bind('JW-event', function(data) {
  // alert(data.message);
  // $('#talks').append("<p>data.</p>");
  
});

// $('#talks').append("<p><%=@talk%></p>")
